container_commands:
  01_download:
    command: "curl https://intoli.com/install-google-chrome.sh | bash"
  02_install:
    command: "mv /usr/bin/google-chrome-stable /usr/bin/google-chrome"
  03_tempdir:
    command: "mkdir -p /tmp/screenshots && chmod 644 /tmp/screenshots"
  04_chrome_driver:
    command: "wget https://chromedriver.storage.googleapis.com/2.41/chromedriver_linux64.zip"
  05_chrome_driver:
    command: "unzip chromedriver_linux64.zip && mv chromedriver /usr/bin/chromedriver && chmod +x /usr/bin/chromedriver"
